@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="~/packeg/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/packeg/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/packeg/css/bootstrap.css" rel="stylesheet" />
    <link href="~/packeg/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/packeg/css/estilo.css" rel="stylesheet" />
    <link href="~/packeg/css/ui-grid-stable.css" rel="stylesheet" />

    <script src="~/packeg/js/angular-animate.js"></script>
    <script src="~/packeg/js/angular-touch.js"></script>
    <script src="~/packeg/js/angular-touch.min.js"></script>
    <script src="~/packeg/js/angular.js"></script>
    <script src="~/packeg/js/angular.min.js"></script>
    <script src="~/packeg/js/app.js"></script>
    <script src="~/packeg/js/bootstrap.js"></script>
    <script src="~/packeg/js/bootstrap.min.js"></script>
    <script src="~/packeg/js/npm.js"></script>
    <script src="~/packeg/js/ui-grid-stable.js"></script>
    <script src="~/packeg/js/ui-grid.min.js"></script>

</head>

<body ng-app="ConsegApp" ng-controller="ConsegCtrl">
    <header>
        <style>
            .painel2:hover {
                box-shadow: 1px 1px 15px black;
            }
        </style>

        <div class="painel">
            <div class="container-fluid">
                <div class="row marginbottom1">
                    <div class="col-xs-5 col-sm-2 col-md-1 margintop2">
                        @*<img src="../packeg/img/logo_conseg.png" alt="logomarca">*@
                    </div>
                    <div class="col-xs-7 hidden-xs col-sm-8 col-md-8 margintop2">
                        <div class="textologo floatleft">LINX</div>
                        <div class="textosecretaria">&nbsp;SOFTWARE QUE MOVE O VAREJO</div>
                        <div class="textoconseg">&nbsp;SERVIDOR DE AUTENTICAÇÃO PARA SISTEMAS INTEGRADOS</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="fundocinza">
            <div class="container">
                <div class="text-right">
                    <img src="../packeg/img/sair.png" style="cursor:pointer;" onclick="location.href='@Url.Action("Logout", "Home")';return false;" ) alt="Sair">
                </div>
                <div class="row">
                    <div class="col col-md-12 marginleft1">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="container">

                @if (User.Identity.IsAuthenticated)
                {
                    var access = (User as ClaimsPrincipal).Claims;
                    string[] userName = access.Select(d => d.Value).ToArray<string>();

                   
                    if (userName[0] == "ADMIN")
                    {
                       <div class="col-xs-12 col-md-4">
                       
                           @*http://localhost:61218/*@
                       
                           <div class="painel2">
                               <a href="http://localhost:52981/Home/Clients">
                                   <img src="../packeg/img/administracao2.png" alt="Administração">
                                   <p class="textopreto">CLIENTS</p>
                               </a>
                           </div>
                       </div>
                    }
                    
                    if (userName[0] == "ADMIN")
                    {
                      <div class="col-xs-12 col-md-4">
                          <div class="painel2">
                              <a href="http://localhost:52981/Home/Tokens">
                                  <img src="../packeg/img/sivic.png" alt="SIVIC">
                                  <p class="textopreto">TOKENS</p></a></div>
                      </div>
                    }
                    //Área Restrita
                    if (userName[0] == "ADMIN" || userName[0] == "USER")
                    {
                      <div class="col-xs-12 col-md-4">
                          <div class="painel2">
                              <a href="http://localhost:52981/Home/ClientSecret">
                                  <img src="../packeg/img/area_restrita.png" alt="Área Restrita">
                                  <p class="textopreto">CLIENTS-SECRETS</p>
                              </a></div>
                      </div>
                    }

                    if (userName[0] == "USER" || userName[0] == "ADMIN")
                    {
                         <div class="col-xs-12 col-md-4">
                         
                             <div class="painel2">
                                 <a href="http://localhost:52981/Home/UserClaimsConseg">
                                     <img src="../packeg/img/controle_processos.png" alt="Controle de Processos">
                                     <p class="textopreto">LISTA DE USUARIOS</p>
                                 </a>
                             </div>
                         
                         </div>
                    }

                    if (userName[0] == "CLIENTE" || userName[0] == "ADMIN")
                    {
                      <div class="col-xs-12 col-md-4">
                          <div class="painel2">
                              <a href="http://localhost:52981/Home/HistoricoDeAccess">
                                  <img src="../packeg/img/portal.png" alt="Portal">
                                  <p class="textopreto">HISTORICO DE ACESSOS</p>
                              </a>
                          </div>
                      </div>
                    }
                 }

                <div class="col-xs-12 col-md-4">
                    <div class="painel2">
                        <a href="https://www.linx.com.br/">
                            <img src="../packeg/img/gerenciador_portal.png" alt="Gerenciador Portal">
                            <p class="textopreto">SITE</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <footer>

        <div class="footer">
            <div class="container-fluid">
                <!-- <img src="../../../packagsConseg/img/gti.png" alt="GTI">-->
                &nbsp;&nbsp; LINX - 2017 - SERVIDOR DE AUTENTICAÇÃO VIA TOKEN E CERTIFICADO DIGITAL
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>